# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Data Wrangling with MongoDB/Lesson3/chicago.osm
Data Wrangling with MongoDB/Lesson3/FIXME-autos.csv
*.csv
*.json

P0 Lessons/*.*
P1 Lessons/*.*
P2 Lessons/*.*
P3 Lessons/*.*
P4 Lessons/*.*

P2/turnstile-weather-variables.pdf
*.osm
*.Rhistory
*.tex
*.docx
*.tmp
*.RData
*.rdx
*.rdb
Data Analysis with R/Lesson3/pseudo_facebook.tsv
P4/P4.zip
P3/P3second.zip
P3/P3first.zip

P4/"Climatology of Atlantic Hurricanes.html"
P4/"Geography Of American Music.html"
*.pyc
*.pkl
*.zip