# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Data Wrangling with MongoDB/Lesson3/chicago.osm
Data Wrangling with MongoDB/Lesson3/FIXME-autos.csv
*.csv
*.json

"P1 Lessons"/*.*
"P2 Lessons"/*.*
"P4 Lessons"/*.*
P2 Lessons/Lesson 4 Notes.pdf
P2 Lessons/Lesson 1 Notes.pdf
P2 Lessons/Lesson 2 Notes.pdf
P2 Lessons/Lesson 3 Notes.pdf
P2/turnstile-weather-variables.pdf
P0 Lessons/Lesson1.pdf
P0 Lessons/Lesson10.pdf
P0 Lessons/Lesson11.pdf
P0 Lessons/Lesson2.pdf
P0 Lessons/Lesson3.pdf
P0 Lessons/Lesson4.pdf
P0 Lessons/Lesson5.pdf
P0 Lessons/Lesson6.pdf
P0 Lessons/Lesson7.pdf
P0 Lessons/Lesson8.pdf
P0 Lessons/Lesson9.pdf
