.Survived {
	fill : #F00;
}

.Died {
	fill : #00F;
}
.y_axes path{
	display : none;
}  

path{
	fill: none;
	stroke: #000;
}

svg{
	display: block;
	margin: 0 auto;
}

.chart_title{
	text-align: center;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.85);
	color: #fff;
	border-radius: 2px;
}

rect:hover{
	opacity: 1;
}

.graphContainer{
	width: 70vw;
	display: block;
	margin: 0 auto;
}

